<ion-header>
  <ion-toolbar>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Liste des randonnées</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <!-- <ion-list-header>
          <ion-label>Liste des randonnées</ion-label>
        </ion-list-header> -->
        <ion-item *ngFor="let hiking of hikings"
        [class.selected]="hiking.id === selectedId">
          <a [routerLink]="['/hiking', hiking.id]">
            {{ hiking.name }}
          </a>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
