<ion-content>
  <ion-item text-center>
    <ion-title>Mes Randonnées</ion-title>
  </ion-item>
  <ion-card *ngFor="let hiking of hikings" [class.selected]="hiking.id === selectedId">
    <ion-card-header>
      <a class="hiking-link-{{hiking.id}}" [routerLink]="['/hiking', hiking.id]"><ion-card-title>{{hiking.name}}</ion-card-title></a>
        <ion-card-subtitle>{{hiking.location}}</ion-card-subtitle> 
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
              {{hiking.description}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            ~ {{hiking.duration}}
          </ion-col>
          <ion-col>
            ~ {{hiking.heightdiff}}m
          </ion-col>
          <ion-col>
            <ng-container *ngFor="let i of [].constructor(hiking.notation)">
              <ion-icon ios="ios-star" md="md-star"></ion-icon>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <ion-button color="primary" size="small" *ngIf="currentHiking" [routerLink]="['/hiking-in-progress', currentHiking.id]">Voir la rando en cours</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
