<ion-content>
  <ion-header>
      <ion-toolbar>
        <ion-title>Liste des randonnées</ion-title>
      </ion-toolbar>
    </ion-header>



  <ion-card *ngFor="let hiking of hikings" [class.selected]="hiking.id === selectedId">
    <ion-card-header>
      <a [routerLink]="['/hiking', hiking.id]"><ion-card-title>{{hiking.name}}</ion-card-title></a>
        <ion-card-subtitle>{{hiking.location}}</ion-card-subtitle> 
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
              {{hiking.description}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              ~ {{hiking.duration}}
          </ion-col>
          <ion-col>
              ~ {{hiking.heightdiff}}m
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <!-- <ionic3-star-rating 
              activeIcon = "ios-star"
              defaultIcon = "ios-star-outline"
              activeColor = "#488aff" 
              defaultColor = "#f4f4f4"
              readonly="false"
              [rating]="3">
            </ionic3-star-rating> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
